.category {
    color: rgb(100, 32, 25);
    border-radius: 8px;
    margin-right: 20px;
    flex: 17em 1 17em;
    border: 1px solid rgb(100, 32, 25);
    border-top: 3px solid rgb(100, 32, 25);
    border-left: 3px solid rgb(100, 32, 25);
}

.category.no-files {
    color: rgb(255, 25, 0);
    border-radius: 8px;
    margin-right: 20px;
    flex: 17em 1 17em;
    border: 1px solid rgb(255, 25, 0);
    border-top: 3px solid rgb(255, 25, 0);
    border-left: 3px solid rgb(255, 25, 0);
}

.category.no-files h5,
p {
    margin-left: 10px;
    color: rgb(255, 25, 0);
}

.category.no-files h2,
p {
    color: rgb(255, 25, 0);
}
.category.no-files .titleReview {
    text-align: center;
    color: rgb(255, 25, 0);
}


.category h5,
p {
    margin-left: 10px;
    color: rgb(100, 32, 25);
}
.category h2,
p {
    color: rgb(100, 32, 25);
}

.category::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.8;
}



.category:hover {
    transform: scale(1.3, 1);
    /* box-shadow: -7px 4px 28px -3px #b527cf; */
}

.category::before {
    /* background: linear-gradient(100deg, #b527cf 0%, #3546f0 100%); */
    background: #fefefe;
    border: 3px solid rgb(100, 32, 25);
    border-top: 1px solid rgb(100, 32, 25);
    border-left: 1px solid rgb(100, 32, 25);
}


.category p {
    display: none;
}

.category:hover p {
    display: block;
}

.category .date {
    float: right;
    margin-right: 10px;
}

.category .titleReview {
    text-align: center;
    color: rgb(100, 32, 25);
}

.deleteButton {
    background-color: rgb(100, 32, 25);
    /* Bright red background */
    color: white;
    /* White text for contrast */
    border: none;
    /* Remove default border */
    padding: 6px 16px;
    /* Slightly more compact padding */
    font-size: 16px;
    /* Slightly larger font size */
    border-radius: 6px;
    /* Slightly rounded corners */
    cursor: pointer;
    /* Pointer cursor on hover */
    transition: background-color 0.3s ease, transform 0.2s ease;
    /* Smooth transitions */
    margin-bottom: 10px;
    /* Space below the button */
    display: block;
    /* Ensure the button is block-level for alignment */
    width: 100%;
    /* Full width to ensure it's aligned with the content */
    text-align: center;
    /* Center text */
}

.deleteButton:hover {
    background-color: rgb(100, 32, 25);
    /* Darker red for hover effect */
    transform: scale(1.05);
    /* Enlarge slightly on hover */
}

.deleteButton:focus {
    outline: none;
    /* Remove focus outline */
}

.deleteButton:active {
    background-color: rgb(255, 25, 0);
    /* Keep dark red when clicked */
    transform: scale(1);
    /* Return to normal size */
}