input {
    margin-left: 10%;
}

.cart {
    position: relative;
    /* background-color: rgb(246, 208, 250); */
    width: 85%;
    margin-left: 10%;

}

.suggestion {
    position: relative;
    width: 97%;
    cursor: pointer;
    border: none;
    font-size: 20px;
    display: flex;
    justify-content: start;
    border-bottom: 2px solid rgb(147, 145, 145);
}

.suggestion:hover {
    border: 3px solid rgb(100, 32, 25);
    border-top: 1px solid rgb(100, 32, 25);
    border-left: 1px solid rgb(100, 32, 25);
    border-radius: 5px;
}