.form {
    display: flex;
    justify-content: space-between;
    gap: 2em;
    /* Простір між блоками */
    padding: 1em;
}

.textINPUT {
    flex: 1;
    /* Категорії займають одну частину */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.failINPUT {
    flex: 1;
    /* Додавання файлів займає другу частину */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.outputNameFile {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    /* Простір між файлами */
}

.fileItem {
    border: 1px solid #9c9c9c;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 10em;
    /* Обмеження ширини файлу */
    text-align: center;
}

.deleteInputPDF {
    background-color: #ff0000;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 5px;
}

.deleteInputPDF:hover {
    background-color: #cc0000;
}

.categoriPDF label {
    font-size: 16px;
    margin-bottom: 0.5em;
    color: #5a5a5a;
}

.formButton {
    margin-top: 2em;
    display: flex;
    justify-content: center;
}