/* Стилі для неправильних полів вводу та повідомлення про помилку */

.login {
    margin-left: 30%;
    max-width: 40%;
    padding: 70px 30px 44px;
    border-radius: 22px;
    background: #fefefe;
    border: 3px solid rgb(100, 32, 25);
    border-top: 1px solid rgb(100, 32, 25);
    border-left: 1px solid rgb(100, 32, 25);
    text-align: center;
    margin-top: 3em;
}

@media (width >=450px) {
    login {
        width: 380px;
    }
}

.avatar {
    margin: 0 auto 16px;
    border-radius: 50%;
    background:
        linear-gradient (-45deg, rgb(100, 32, 25), #8b8a8a);
    padding: 2px;
    width: 120px;
    height: 120px;

}

.avatar>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid rgb(100, 32, 25);
    border-top: 1px solid rgb(100, 32, 25);
    border-left: 1px solid rgb(100, 32, 25);

}

.login>h2 {
    font-size:
        36px;
    font-weight: 500;
    margin: 0 0 4px;
    color: rgb(84, 49, 49);
}

.login>h3 {
    color: rgba(58, 2, 2, 0.497);
    margin: 0 0 30px;
    font-weight: 500;
    font-size: 16px;
}

.login-form {
    display: grid;
    gap: 16px;
    place-items:
        center;
    width: 100%;
    margin: 0;
}

.textbox {
    width: 100%;
    position: relative;
}

.invalidInput,
.login-form button {
    width: 90%;
    height: 60px;
    outline: none;
    padding: 0;
    font-family: inherit;
    font-size: 16px;
    border-radius: 8px;
}

.invalidInput {
    background: transparent;
    border: 2px solid rgba(0, 0, 0, 0.1);
    font-size: 18px;
    padding: 0 20px 0 20px;
    color: inherit;
    width: 70%;
    color: #000000;
}

.invalidInput:focus {
    border: 3px solid rgb(100, 32, 25);
    border-top: 1px solid rgb(100, 32, 25);
    border-left: 1px solid rgb(100, 32, 25);
}


.login-form button {
    cursor: pointer;
    background: rgb(255, 255, 255);
    border: 3px solid rgb(100, 32, 25);
    border-top: 1px solid rgb(100, 32, 25);
    border-left: 1px solid rgb(100, 32, 25);
    color: rgb(100, 32, 25);

    font-weight: 600;
    letter-spacing: 2px;
}

.linkeRegistr {
    color: rgb(100, 32, 25);
    font-size: 16px;
    text-align: left;
    text-decoration: none;
}

.linkeRegistr:hover {
    text-decoration: underline;
}

.invalidInputError {
    width: 90%;
    height: 60px;
    outline: none;
    padding: 0;
    font-family: inherit;
    font-size: 16px;
    border-radius: 8px;
    background: transparent;
    border: 2px solid rgb(247, 5, 5);
    font-size: 18px;
    padding: 0 20px 0 20px;
    color: inherit;
    width: 70%;
    color: #000000;
}

.errorMessage {
    color: red;
    font-size: 12px;

}