
.comentarName {
    cursor: pointer;
  }
  
  .iconComment {
    margin-top: 0.3em;
    font-size: 1.2em;
    transition: transform 500ms ease;
  }
  
  .comentarName.active .iconComment {
    margin-top: 0.2em;
    transform: rotate(0.5turn);
  }
  
  
  
  .comments {
    margin-bottom: 3em;
    
  }
  
  .comments h3 {
    display: flex;
    justify-content: center;
  }
  
  .coment {
    width: 60%;
    min-height: 150px;
    height: auto;
    border-radius: 10% 0;
    border-left: 1px;
    border-right: 1px;
    align-content: center;
    justify-items: center;
    margin-right: 15%;
    text-align: center;
  
  }
  
  .coment:focus {
    color: #5a5a5a;
    border-bottom: 10px solid #8250e56a;
    border-right: 5px solid #8250e56a;
    
  }
  
  .comentForm {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  
  }
  