.container {
    position: relative;
    max-width: 110rem;
    padding: 1rem;
    

}

.cards {
    display: grid;
    grid-template-columns: repeat(
        auto-fit, minmax(20rem, 1fr));
    grid-gap: 1.5rem;
    margin: 1.5em;
    
}
.card {
    border: 0.4em solid #a3ffaccf;
    border-style: groove;
    padding: 1rem;
    overflow: hidden;
    border-radius: 0.8rem;
    box-shadow: 1px 1px 10px #b2244584;
    
    
}
.card p {
    color: #460106;
    font-size: 14px;
    
}

.card:hover {
    background-color: #60d76c9c;
    box-shadow: 14px 15px 20px #b2244584;

}
/* .card:hover .cardTitleLarge {
    transform: translateX(-115%);
} */

.date {
    float: right;
}


.iconCard {
    margin-top: 1em;
    margin-left: 0.3em;
    font-size: 1.2em;
    color: #75040D;
    transition: opacity 500ms ease;
}

.iconCard:hover{
    opacity: 4;
    transform: scale(1.5);
}
