.content {
    display: flex;
    justify-content: center;
    /* Використовуйте flex-start, якщо ви маєте попередження */
}

.formMenuUser {
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    border: 3px solid rgb(100, 32, 25);
    border-top: 1px solid rgb(100, 32, 25);
    border-left: 1px solid rgb(100, 32, 25);
    border-style: groove;
    width: 60%;
    height: auto;
    border-radius: 20px;
    font-family: "Roboto", sans-serif;
    top: 5%;
    box-shadow: 4px 0px 55px #b2244584;
    margin-top: 3%;

    @media (max-width: 820px) {
        border: 0;
        box-shadow: 4px 0px 55px #b2244584;
        width: 98%;
        height: 95%;
        top: 0;
    }
}

.backOp {
    position: absolute;
    color: #170103;
    left: 0;
    /* Використовуйте left замість float для позиціонування */
    font-size: 3em;
    margin-top: 1em;
    margin-left: 10%;
    /* Вирівнюйте зліва, а не справа */
    transition: color 500ms ease;
}

.backOp:hover {
    color: #75040D;
    transform: scale(1.2);
}
.backOp:focus {
    outline: none;
    border-color: #5f030a;
    box-shadow: 0 0 4px rgba(95, 3, 10, 0.3);
}

.title {
    font-size: 30px;
    color: #75040D;
}

.group {
    position: relative;
    margin: 25px 0;
    width: 85%;
}

.input {
    font-size: 20px;
    padding: 10px 15px;
    width: 88%;
    border: none;
    border-bottom: 0.1em solid #75040D;
    border-left: 0.1em solid #75040D;
    background: transparent;
    color: #75040D;
    margin-left: 2em;
}

.input:focus {
    outline: none;
}

.labelform {
    color: #75040D;
    font-size: 18px;
    font-weight: normal;
    position: relative;
    left: 2em;
    top: -0.5em;
}

.buttonAdd {
    color: #75040D;
    flex-direction: column;
    font-size: 26px;
    text-decoration: none;
    padding: 10px;
    margin-top: 5%;
    transition: 0.5s ease;
    margin-bottom: 1.5em;
    cursor: pointer;
}

.buttonAdd a {
    text-decoration: none;
    color: #75040D;
}

.buttonAdd:hover {
    color: #170103;
}

.cart {
    position: relative;
    width: 85%;
    margin-left: 10%;
}

.suggestion {
    position: relative;
    width: 97%;
    cursor: pointer;
    border: none;
    font-size: 20px;
    display: flex;
    justify-content: flex-start;
    /* Заміна start на flex-start */
    border-bottom: 2px solid rgb(147, 145, 145);
}

.suggestion:hover {
    border: 3px solid rgb(100, 32, 25);
    border-top: 1px solid rgb(100, 32, 25);
    border-left: 1px solid rgb(100, 32, 25);
    border-radius: 5px;
}