.iconAddOP a {
    display: flex;
    float: right;
    margin-top: 1%;
    margin-right: 8%;
    font-size: 2em;
    color: rgb(100, 32, 25);
    transition: opacity 500ms ease;
}

.iconAddOP a:hover {
    color: rgb(100, 32, 25);
    transform: scale(1.5);
}

.heading {
    margin-bottom: 2rem;
    font-size: 1.5rem;
}

table {
    border-collapse: collapse;
    /* width: 96%; */
    display: flex;
    flex-direction: column;
    grid-gap: 15px;
    font-weight: 500;
    margin: 2%;
}

.inputSpec {
    display: flex;
    justify-content: center;
    margin-top: 2em;
    width: 70%;
    height: 3em;
    border: 0.3em solid rgb(100, 32, 25);
    border-style: groove;
    border-left: 1px;
    border-right: 1px;
    border-top: 1px;
    box-shadow: 5px 60px 200px #b2244584;
}

.inputSpec:focus {
    border: rgb(100, 32, 25)
}

.trSp {
    background-color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: #fff;
    border: 3px solid rgb(100, 32, 25);
    border-top: 1px solid rgb(100, 32, 25);
    border-left: 1px solid rgb(100, 32, 25);
    border-style: groove;
}

tr:nth-child(1) {
    background-color: transparent;
    box-shadow: none;
}

td,
th {
    text-align: left;
    padding: 8px;
}

th {
    font-size: 0.9rem;
    margin: 2rem;
}


.opBranch {
    width: 250px;
    margin-left: 20px;
}


.opBranch,
.opSpeciality {
    width: 250px;
}

.opSpecialisation,
.opName {
    width: 350px;
}


.contact {
    width: 150px;
    text-align: right;
    margin-right: 30px;
}

.f-weight {
    font-weight: 400;
    font-size: 0.9rem;
}

.contactCTA {
    background-color: #d41743;
    font: inherit;
    font-size: 0.8rem;
    border: none;
    color: white;
    padding: 5px 10px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.2em;
}

.contactCTA:hover {
    background-color: rgb(105, 18, 18);
}



.butonAddOp>a>button {
    position: relative;
    display: grid;
    place-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #7a2828d6;
    color: #e0e0e0;
    transition: 0.5s;
    font-size: 25px;
    float: right;
    right: 1.2em;
    top: 15px;
}

.butonAddOp>a>button:hover {
    background: white;
    color: #b22445;
    box-shadow: 25px 25px 95px #b22445c6;
    text-shadow: 1px 1px 2px rgb(88, 15, 15), 0 0 1em rgb(192, 192, 184), 0 0 0.2em rgba(0, 0, 0, 0.449);
    font: 1.3em Georgia, serif;
    right: 2em;


}

.butonAddOp>a>button>span {
    position: absolute;
    top: 65px;
    white-space: nowrap;
    translate: 10px 0;
    opacity: 0;
    visibility: hidden;
    font-size: 18px;
    transition: 0.5s;
}

.butonAddOp>a>button:hover>span {
    translate: 0;
    opacity: 1;
    visibility: visible;
    color: #b22445;


}